.error {
    position: fixed;
    z-index: 1000;

    top: 20px;
    left: 50%;

    width: 80%;
    max-width: 100%;

    transform: translateX(-50%);
    
    border: 1px solid silver;
    border-radius: .8rem;
    
    background-color: #FFEBEE;
    
    font: var(--font-paragraph-large);
    color: #D32F2F;
    
    padding: .75rem;
    /* inicialmente invisível */
    opacity: 0;
    /* Também remove da árvore de acessibilidade */
    visibility: hidden;
    /* Transição suave */
    transition: opacity 1s ease,
    visibility 1s;

    &.show {
        /* Torna visível */
        opacity: 1;
        /* Mostra o elemento */
        visibility: visible;
        /* Transição ao aparecer */
        transition: opacity 1s ease, visibility 0s;
    }

    &.hide {
        /* Torna visível */
        opacity: 0;
        /* Mostra o elemento */
        visibility: hidden;
        /* Transição ao aparecer */
        transition: opacity 8s ease, visibility 5s;
    }
}
