@import url(./fields/input.css);
@import url(./fields/checkbox.css);
@import url(./fields/button.css);

main {
    grid-area: main;
    align-self: start;

    display: grid;
    gap: 2.5rem;

    width: 100%;
    /* margin-top: 2.5rem; */

    & form {
        display: grid;
        gap: 1.25rem;

        & .intro {
            span {
                font: var(--font-label-large);
                text-transform: uppercase;
            }

            p {
                font: var(--font-paragraph-medium);
                color: var(--color-content-tertiary);
            }
        }

        & .resultado-intro {
            display: grid;
            align-items: center;
            justify-items: center;

            span {
                font: var(--font-label-large);
                text-transform: uppercase;
            }

            p {
                font: var(--font-overline);
                color: var(--color-content-secondary);
                text-transform: uppercase;
            }
        }
    }
}

/* @media (min-width: 54rem) {
    main {
        margin: 0;
    }
} */