header {
    grid-area: header;
    align-self: start;

    /* display: grid; */
    gap: .5rem;

    margin-bottom: 2.5rem;
    
    & span {
        align-items: center;
        
        font: var(--font-overline);
        color: transparent;
        text-transform: uppercase;

        background: var(--color-gradient-content);

        -webkit-background-clip: text;
        background-clip: text;
    }

    & h1 {
        font: var(--font-display-medium);
        text-transform: uppercase;
        letter-spacing: -.4;
    }
}