.logo{
    grid-area: logo;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .875rem;

    padding-bottom: 2.75rem;
    
    & strong {
        font: var(--font-logo);
        color: var(--color-content-primary);
    }
}