
.container {

    /* outline: 1px dotted red; */

    margin-inline: auto;

    min-width: 18rem;
    max-width: 35rem;
    width: 80%;

}

/* 
a partir de:
 288px = 18rem
 400px = 25rem
 420px = 26.25rem
 480px = 30rem
 768px = 48rem 
1024px = 64rem 
1280px = 80rem 
*/
@media (min-width: 26.25rem) {

    .container {
        /* outline: 1px solid deeppink; */

        margin-inline: auto;

        /* min-width: 64rem; */
        max-width: 35rem;
        width: 80%;
    }
}